@tailwind base;
@tailwind components;
@tailwind utilities;

.imagen {
  background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)) ,url('https://wallpapercave.com/wp/wp8158881.jpg');
  background-size: cover;
}

.flex2 {
  flex: 1
}

.flex1 {
  flex: 2;
}

.flex3 {
  flex: 3;
}

.flex5 {
  flex: 5;
}

.flex6 {
  flex: 6;
}

.height {
  height: calc(100vh - 70px);
  &::-webkit-scrollbar {
    display: none;
  }
}